body {
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 10em;
  background-color: #F0F0F0;
}

h1 {
  color: black;
  font-size: 2.5em;
  font-weight: lighter;
}

.skillset {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill-html {
  background-color: #303030;
  box-shadow: 10px 10px 5px #D0D0D0;
  border-radius: 3.5px;
}

.skill-js {
  background-color: #585858;
  box-shadow: 10px 10px 5px #A0A0A0;
  border-radius: 3.5px;
}

.skill-jquery {
  background-color: #A0A0A0;
  box-shadow: 10px 10px 5px #585858;
  border-radius: 3.5px;
}

.skill-writing {
  background-color: #D0D0D0;
  box-shadow: 10px 10px 5px #303030;
  border-radius: 3.5px;
}

.skill-html,
.skill-js,
.skill-jquery,
.skill-writing{
  width: 100%;
  padding: 1em 3em 2em 2em;
  margin: 1.5em;
  color: black;
  font-weight: lighter;
}

.projects-button {
  padding: 0.75em 1.25em;
  background: whitesmoke;
  background: linear-gradient(to right, #4dffff, #004d4d); 
  opacity: 0.9;
  width: 10em;
  color: black;
  border-radius: 3.5px;
}

ul {
  list-style: none;
  padding: 0;
}

.projects {
  marginri: 1em 0;
}

.active {
  background-color: #FF00CC;
  color: black;
}

